apiVersion: v1
kind: Service
metadata:
  name: favourite-service
  labels:
    app: favourite-service
spec:
  type: ClusterIP
  ports:
    - port: 8086
      targetPort: 8086
      protocol: TCP
      name: http
  selector:
    app: favourite-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: favourite-service
  labels:
    app: favourite-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: favourite-service
  template:
    metadata:
      labels:
        app: favourite-service
    spec:
      containers:
        - name: favourite-service
          image: 020951019497.dkr.ecr.us-east-2.amazonaws.com/ecommerce/favourite-service:latest
          ports:
            - containerPort: 8086
              name: http
          env:
            - name: SERVER_PORT
              value: "8086"
            - name: SPRING_PROFILES_ACTIVE
              value: "default"
            - name: SPRING_CONFIG_IMPORT
              value: "optional:configserver:http://cloud-config:9296"
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              value: "http://service-discovery:8761/eureka/"
            - name: EUREKA_CLIENT_ENABLED
              value: "true"
            - name: EUREKA_CLIENT_REGISTER_WITH_EUREKA
              value: "true"
            - name: EUREKA_CLIENT_FETCH_REGISTRY
              value: "true"
          resources:
            requests:
              memory: "1Gi"
              cpu: "200m"
            limits:
              memory: "1Gi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /favourite-service/actuator/health
              port: 8086
            initialDelaySeconds: 180
            periodSeconds: 15
            failureThreshold: 5
            timeoutSeconds: 10
          readinessProbe:
            httpGet:
              path: /favourite-service/actuator/health
              port: 8086
            initialDelaySeconds: 240
            periodSeconds: 10
            failureThreshold: 3
            timeoutSeconds: 10