[Unit]
Description=Socat Minikube Port Forward
After=network.target

[Service]
ExecStart=/usr/bin/socat TCP-LISTEN:32782,fork TCP:127.0.0.1:32781
Restart=always
User=root

[Install]
WantedBy=multi-user.target
